<% provide(:title, 'About Us') %>

<div class="page-header">
  <h1>About Us</h1>
</div>

<div class="row">
  <div class="span20">
  <p>
  This is the about page in the sample application.
  This is the about page in the sample application.
  This is the about page in the sample application.
  This is the about page in the sample application.
  This is the about page in the sample application.
  </div>
</div>

<p>&nbsp;<p>
<%= link_to 'Back to Home', root_path %>
