= provide(:title, 'About Us')

.page-header
  %h1
    About Us

.big
  This Hazard Risk and Vulnerability Analysis (HRVA) has been developed by the Office of Disaster Management branch under Manitoba Health in partnership with Health Canada. The purpose of an HRVA is to offer a tool to disaster managers which they can use to better plan and prepare for disasters.

  %p
  The opportunity to offer accuracy to the threat posed by natural and human caused disasters will benefit efforts to minimize the impact of disasters. This HRVA is designed to meet this need by measuring capacities, vulnerabilities, and risks and to offer insight into what different regions face on these fronts.

  %p
  The key driving issue that led to the development of this tool is climate change. Climate change is having a profound and unprecedented impact on the world’s weather systems which in turn are exacerbating natural disasters. This HRVA has been developed to incorporate the emerging threat of climate change and to bring it into disaster planning and mitigation. When regions adopt climate change into their disaster plans they make key steps in adapting to a changing world.

  %p
= render 'backhome'
