= provide(:title, 'About Us')

.page-header
  %h1
    About Us

%row
  This is the about page in the HRVA application.
  This is the about page in the HRVA application.
  This is the about page in the HRVA application.
  This is the about page in the HRVA application.
  This is the about page in the HRVA application.

= render 'backhome'
