= provide(:title, 'Contact')

.page-header
  %h1
    Contact Information

%h3 
  Manitoba Health
  %br 
  Office of Disaster Management
  %br 
  %br 

.big
  Unit 7 - 1680 Ellice Ave.
  %br 
  Winnipeg, Manitoba  R3H 0Z2
  %br 
  Canada
  %br 
  %br 
  Phone:  (204) 945-1444
  %br 
  FAX:  (204) 948-2531
  %br 
  %br 
  E-mail:  eccmanager@gov.mb.ca
  %br 
  Website: 
  =link_to 'http://www.gov.mb.ca/health/odm/', 'http://www.gov.mb.ca/health/odm/', :target => '_blank'

= render 'backhome'
