= provide(:title, 'Contact')

.page-header
  %h1
    Contact

%row
  This is the contact information page in the sample application.
  This is the contact information page in the sample application.
  This is the contact information page in the sample application.
  This is the contact information page in the sample application.
  This is the contact information page in the sample application.

%p
&nbsp;
%p
= link_to 'Back to Home', root_path
