= provide(:title, 'Contact')

.page-header
  %h1
    Contact

.big
  This is the contact information page in the HRVA application.
  This is the contact information page in the HRVA application.
  This is the contact information page in the HRVA application.
  This is the contact information page in the HRVA application.
  This is the contact information page in the HRVA application.

= render 'backhome'
