= provide(:title, 'Definitions')

.page-header
%h1
  General Definitions

%p
%ul.big
  %li
    .bold Capacity:
    Capacity refers to the combination of all the strengths, attributes, and resources available to an individual, community, society, or organization that can be used to achieve established goals.
  %p

  %li 
    .bold Disaster management:
    Disaster management refers to social processes for designing, implementing, and evaluating strategies, policies, and measures that promote and improve disaster preparedness, response, and recovery practices at different organizational and societal levels.
  %p

  %li
    .bold Disaster mitigation:
    Disaster mitigation is used to refer to actions that attempt to limit further adverse conditions once disaster has materialized.
  %p

  %li
    .bold Disaster preparedness:
    Disaster preparedness measures, including early warning and the development of contingency or emergency plans, may be considered a component of, and a bridge between, disaster risk reduction and disaster management.
  %p

  %li 
    .bold Vulnerability:
    Vulnerability describes a set of conditions of people that derive from the historical and prevailing cultural, social, environmental, political, and economic contexts.
  %p
  
%br 
%h1
  Natural Disasters
%p

%ul.big
  %li
    .bold Tornado: 
    A tornado is a violently rotating column of air that is in contact with both the surface of the earth and a cloud.
  %p

  %li
    .bold Extreme high winds: 
    Extremely high winds are winds which exceed 75km/hr and create dangerous conditions for infrastructure and human health.
  %p

  %li
    .bold Hurricane: 
    A hurricane is a storm system which is very large and has very strong winds and rain.
  %p

  %li
    .bold Flood: 
    A flood is an overflow of water, usually from a lake or river, which submerges land.
  %p

  %li
    .bold Tsunami: 
    A tsunami is a series of extremely large waves typically caused by an earthquake.
  %p

  %li
    .bold Drought: 
    A drought is an extended period of months or years in which a region experiences a shortage of water.
  %p

  %li
    .bold Extreme heat: 
    Extremely high winds are winds which exceed 75km/hr and create dangerous conditions for infrastructure and human health.
  %p

  %li
    .bold Extreme Cold: 
    Temperatures that are less than the regular winter lows for a region.
  %p

  %li
    .bold Ice Storm: 
    A storm which produces freezing rain and ice accumulation on the ground.
  %p

  %li
    .bold Extreme Storm: 
    A storm which causes unusually high accumulation of rain. It can also have an abundance of lightning.
  %p

  %li
    .bold Earthquake: 
    An earthquake is a shaking of the earth caused by the release of energy between seismic plates.
  %p

  %li
    .bold Hail: 
    Hail consists of balls of ice that can vary in size which rain down during a storm.
  %p

  %li
    .bold Landslide: 
    An avalanche of mud and debris off of the side of a hill or mountain that can be caused by one or more factors.
  %p

  %li
    .bold Wildland Fire: 
    An uncontrolled fire in a forested or grassland area.
  %p

  %li
    .bold Avalanche: 
    The falling of snow, ice, and debris off the side of a hill or mountain.
  %p

  %li
    .bold Disease Outbreak: 
    The spread of a disease in a way which is more severe than typical and which threatens health.
  %p

  %li
    .bold Volcano: 
    It is an opening, or rupture, in the Earth's surface which allows hot magma, volcanic ash and gases to escape.
  %p

  %li
    .bold Mudslide: 
    It is a rapid movement of a large mass of mud formed from loose soil and water.
  %p

  %li
    .bold Tidal Surge: 
    A rise above normal water level on the open coast due only to the action of wind stress on the water surface.
  %p

  %li
    .bold Waterspout: 
    A tornado which occurs over water.
  %p

  %li
    .bold Dust/Sand Storm: 
    Dust storms arise when a gust front or other strong wind blows loose sand and dirt from a dry surface.
  %p

  %p
= render 'backhome'

