= provide(:title, 'Experts') 

.page-header
  %h1
    List of Experts

.big
  There are many types of experts who can offer useful information in disaster
  situations. It is important for you to identify experts who can bring knowledge
  to the HRVA that is useful and relevant to your area. The following is a brief
  guide on what types of experts exist and where they may be found.
%br

%h3
  Risk and Hazard Experts
%p
.big
  Earthquake experts/seismologists - Universities, national environmental
  organizations
  %p
  Storm, Tornado, Hurricane, Hail experts/climatologists - Universities,
  environmental and weather forecasting organizations
  %p
  Flood experts - Universities, government disaster management organizations
  %p
  Risk specialists - Universities, insurance companies
  %br
  %br

%h3
  Vulnerability Experts
%p
.big
  Statistics expert/Statistician - Universities, colleges, Statistics agencies,
  Statistics Canada 
  %p
  Social Sciences Researchers - Universities, colleges, government social
  departments
  %br
  %br


%h3
  Climate Change Experts
%p
.big
  Climate expert/climatologist/geographer - Universities, colleges, weather
  forecasting agencies
  %br
  %br


%h3
  General Experts
%p
.big
  Disaster managers - civic, provincial, federal government departments,
  Universities, specific disaster mitigation organizations


%br
%br
.big
  When investigating who you would like involved in your HRVA, try to focus on
  experts who will have knowledge about the disasters that are of higher concern
  in your area. Also, strongly consider an expert on climate change. They will
  have the ability to offer more accurate forecasts of the risk of disasters
  which climate change will influence.

= render 'backhome'
