= provide(:title, 'Help') 
  
.page-header
  %h1
    Help

%row
  This is the help page in the HRVA application.
  This is the help page in the HRVA application.
  This is the help page in the HRVA application.
  This is the help page in the HRVA application.
  This is the help page in the HRVA application.

