<div class="center hero-unit">
  <h1>Welcome to the Sample App</h1>
  <h2>
  This is the home page for the sample application.
  </h2>
  
  <br>
  <br>
  <p>
  <center>
    <%= link_to "Sign up now!", '#', :class=>"btn btn-large btn-primary" %>
  </center>
</div>

<h4>
Give some information about this application.
</h4>

