.hero-unit
  .center
    %h1
      Hazard, Risk and Vulnerability Assessment
    %p
    %h3
      Welcome to the new hazard, risk, and vulnerability assessment (HRVA) developed by Manitoba Health's Office of Disaster Management in partnership with Health Canada.
    %br
    %br

%h5
  This HRVA has been specially designed to give the user a comprehensive and useful assessment of their regions' hazards, risks, vulnerabilities, and capabilities. It has also been designed to incorporate the new disaster mitigation challenge of climate change. With a changing climate, it has become very important to be aware of how climate will affect disasters in your area so that proper adaptation strategies can be designed and adopted.

