.hero-unit
  .center
    %h1
      Welcome to the App
    %p
    %h2
      This is the home page for the sample application.
    %br
    %br
    %p

%h4
  Give some information about this application.

