= provide(:title, 'Project Options') 

.page-header
  %h1
    Project Scope Possibilities

.big
  There are three ways which this HRVA may be conducted in your area.
  %br
  %br
  %ol
    %li
      You may choose to do this HRVA on your own.
      The results will be reasonable and you will identify areas where diaster
      mitigation plans can be concentrated.
      %br
      %br
    %li
      Your second option is to engage other members of your area who are involved
      in disaster management.
      These people may include key members of the community, representatives of
      private industry, local government, and various emergency professionals.
      This is done by sending them the link to this HRVA and having them fill
      it out. The results from your area are then bundled together and the
      report will represent the average views of the people from your area that
      participated in the HRVA. This will lead to strong results which can inform
      future disaster mitigation strategies with a relatively high degree of
      accuracy and confidence.
      %br
      %br
    %li
      The third possibility is to conduct the HRVA in the same manner as option 1
      or 2, but to also include disaster experts, scientists, climate change
      specialists, and other people with important insight into your area's risks,
      hazards, and vulnerabilities.
      With the increasing role of climate changes as a variable in disaster
      planning, having insight from these types of experts can contribute very
      robust information and predictions that will bolster your area's HRVA.
      This will create a hazard, risk, and vulnerability profile of your area
      which will be a strong foundation for creating plans and actions that
      will lead to greater diaster resilience. 
      %br
  %br
  For a list of potential types of experts and where they may be found, please
  follow this link: 
  =link_to 'Experts', experts_path

%p
&nbsp;
%p
= link_to 'Back to Home', root_path
