= provide(:title, 'References')

.page-header
  %h1
    References

%h3 Climage Change

%p
.big
  %ul
    %li
      International:
      =link_to 'http://www.ipcc.ch/', 'http://www.ipcc.ch/', :target=>'_blank'
    %li 
      Canada: 
      =link_to 'http://www.ec.gc.ca/default.asp?lang=en&n=2967c31d-1', 'http://www.ec.gc.ca/default.asp?lang=en&n=2967c31d-1', :target=>'_blank'

%br
%h3 Statistics for your Area

%p
.big
  %ul
    %li
      Statistics Canada (General):
      =link_to 'http://www.statcan.gc.ca/start-debut-eng.html', 'http://www.statcan.gc.ca/start-debut-eng.html', :target=>'_blank'
    %li
      Statistics Canada Census Profile:
      =link_to 'http://www12.statcan.gc.ca/census-recensement/2011/dp-pd/prof/index.cfm?Lang=E', 'http://www12.statcan.gc.ca/census-recensement/2011/dp-pd/prof/index.cfm?Lang=E', :target=>'_blank'

%br
%h3 General Weather Information and Forecasting

%p
.big
  %ul
    %li
      Weather Office:
      =link_to 'http://www.weatheroffice.gc.ca/canada_e.html', 'http://www.weatheroffice.gc.ca/canada_e.html', :target=>'_blank'

%br
%h3 Specific Disaster Information

%p
.big
  %ul
    %li  
      Earthquakes: 
      =link_to 'http://www.earthquakescanada.nrcan.gc.ca/index-eng.php', 'http://www.earthquakescanada.nrcan.gc.ca/index-eng.php', :target=>'_blank'

    %li  
      Hurricane: 
      =link_to 'http://www.ec.gc.ca/ouragans-hurricanes/', 'http://www.ec.gc.ca/ouragans-hurricanes/', :target=>'_blank'

    %li  
      Flooding: 
      %ul  
        %li  
          =link_to 'http://www.ec.gc.ca/inre-nwri/default.asp?lang=En&n=0CD66675-1&offset=9&toc=show', 'http://www.ec.gc.ca/inre-nwri/default.asp?lang=En&n=0CD66675-1&offset=9&toc=show', :target=>'_blank'
    
        %li  
          =link_to 'http://globalfloodmap.org/Canada', 'http://globalfloodmap.org/Canada', :target=>'_blank'
    
        %li  
          =link_to 'http://www.cmhc-schl.gc.ca/en/co/maho/gemare/gemare_002.cfm', 'http://www.cmhc-schl.gc.ca/en/co/maho/gemare/gemare_002.cfm', :target=>'_blank'

    %li  
      Wildfires: 
      %ul  
        %li  
          =link_to 'http://cwfis.cfs.nrcan.gc.ca/', 'http://cwfis.cfs.nrcan.gc.ca/', :target=>'_blank'
    
        %li  
          =link_to 'http://www.ciffc.ca/', 'http://www.ciffc.ca/', :target=>'_blank'

    %li  
      Tsunami: 
      %ul  
        %li  
          =link_to 'http://www.pep.bc.ca/hazard_preparedness/Tsunami_Brochure/Prepare_for_Tsunami.html', 'http://www.pep.bc.ca/hazard_preparedness/Tsunami_Brochure/Prepare_for_Tsunami.html', :target=>'_blank'
    
        %li  
          =link_to 'http://www.canadiangeographic.ca/tsunami/tsunamis_canada.asp', 'http://www.canadiangeographic.ca/tsunami/tsunamis_canada.asp', :target=>'_blank'

    %li  
      Drought: 
      %ul  
        %li  
          =link_to 'http://www4.agr.gc.ca/AAFC-AAC/display-afficher.do?id=1326402878459&lang=eng', 'http://www4.agr.gc.ca/AAFC-AAC/display-afficher.do?id=1326402878459&lang=eng', :target=>'_blank'
    
        %li  
          =link_to 'http://www.ec.gc.ca/inre-nwri/default.asp?lang=En&n=0CD66675-1&offset=8&toc=show', 'http://www.ec.gc.ca/inre-nwri/default.asp?lang=En&n=0CD66675-1&offset=8&toc=show', :target=>'_blank'

    %li  
      Extreme Heat: 
      =link_to 'http://www.hc-sc.gc.ca/hl-vs/iyh-vsv/environ/heat-chaleur-eng.php', 'http://www.hc-sc.gc.ca/hl-vs/iyh-vsv/environ/heat-chaleur-eng.php', :target=>'_blank'

    %li  
      Extreme Cold: 
      %ul  
        %li  
          =link_to 'http://www.ec.gc.ca/meteo-weather/default.asp?lang=n&n=5FBF816A-1', 'http://www.ec.gc.ca/meteo-weather/default.asp?lang=n&n=5FBF816A-1', :target=>'_blank'
    
        %li  
          =link_to 'http://www.ec.gc.ca/meteo-weather/default.asp?lang=En&n=D2F64537-1', 'http://www.ec.gc.ca/meteo-weather/default.asp?lang=En&n=D2F64537-1', :target=>'_blank'

    %li  
      Ice Storm: 
      =link_to 'http://www.ec.gc.ca/meteo-weather/default.asp?lang=En&n=5AF89345-1', 'http://www.ec.gc.ca/meteo-weather/default.asp?lang=En&n=5AF89345-1', :target=>'_blank'

    %li  
      Extreme Snowfall: 
      =link_to 'http://www.ec.gc.ca/meteo-weather/default.asp?lang=En&n=D9553AB5-1', 'http://www.ec.gc.ca/meteo-weather/default.asp?lang=En&n=D9553AB5-1', :target=>'_blank'

    %li  
      Extreme Storm: 
      %ul  
        %li  
          =link_to 'http://www.weatheroffice.gc.ca/warnings/warnings_e.html/mb_e.html', 'http://www.weatheroffice.gc.ca/warnings/warnings_e.html/mb_e.html', :target=>'_blank'
    
        %li  
          =link_to 'http://www.ec.gc.ca/meteo-weather/default.asp?lang=En&n=6C5D4990-1#Thunderstorms', 'http://www.ec.gc.ca/meteo-weather/default.asp?lang=En&n=6C5D4990-1#Thunderstorms', :target=>'_blank'

    %li  
      Hail: 
      %ul  
        %li  
          =link_to 'http://www.ec.gc.ca/meteo-weather/default.asp?lang=En&n=86C0425B-1#Hail_safety', 'http://www.ec.gc.ca/meteo-weather/default.asp?lang=En&n=86C0425B-1#Hail_safety', :target=>'_blank'
    
        %li  
          =link_to 'http://atlas.nrcan.gc.ca/site/english/maps/environment/naturalhazards/naturalhazards1999/majorhailstorms/1', 'http://atlas.nrcan.gc.ca/site/english/maps/environment/naturalhazards/naturalhazards1999/majorhailstorms/1', :target=>'_blank'

    %li  
      Landslides: 
      %ul
        %li  
          =link_to 'http://atlas.nrcan.gc.ca/auth/english/maps/environment/naturalhazards/landslides/1', 'http://atlas.nrcan.gc.ca/auth/english/maps/environment/naturalhazards/landslides/1', :target=>'_blank'
    
        %li  
          =link_to 'http://www.isl-nasl2012.ca/', 'http://www.isl-nasl2012.ca/', :target=>'_blank'

    %li  
      Avalanches: 
      %ul  
        %li  
          =link_to 'http://www.avalanche.ca/', 'http://www.avalanche.ca/', :target=>'_blank'
    
        %li  
          =link_to 'http://www.pc.gc.ca/eng/progs/np-pn/sp-ps/sec4/sp-ps4d/EETA-ATES-3.aspx', 'http://www.pc.gc.ca/eng/progs/np-pn/sp-ps/sec4/sp-ps4d/EETA-ATES-3.aspx', :target=>'_blank'
    
        %li  
          =link_to 'http://avalanche.pc.gc.ca/index-eng.aspx?d=TODAY', 'http://avalanche.pc.gc.ca/index-eng.aspx?d=TODAY', :target=>'_blank'
    
    %li  
      Disease Outbreak: 
      %ul  
        %li  
          =link_to 'http://www.phac-aspc.gc.ca/ep-mu/rido-iemi/index-eng.php', 'http://www.phac-aspc.gc.ca/ep-mu/rido-iemi/index-eng.php', :target=>'_blank'
    
        %li  
          =link_to 'http://www.who.int/csr/don/archive/country/can/en/', 'http://www.who.int/csr/don/archive/country/can/en/', :target=>'_blank'
    
        %li  
          =link_to 'http://www.cpha.ca/en/programs/pandemic-influenza.aspx', 'http://www.cpha.ca/en/programs/pandemic-influenza.aspx', :target=>'_blank'
    
    %li  
      Volcanoes: 
      %ul  
        %li 
          =link_to 'http://volcanoes.usgs.gov/', 'http://volcanoes.usgs.gov/', :target=>'_blank'
        %li
          =link_to 'http://www.volcano.si.edu/world/region.cfm?rnum=1200', 'http://www.volcano.si.edu/world/region.cfm?rnum=1200', :target=>'_blank'

    %li  
      Mudslides: 
      %ul  
        %li 
          =link_to 'http://emergency.cdc.gov/disasters/landslides.asp', 'http://emergency.cdc.gov/disasters/landslides.asp', :target=>'_blank'
          =link_to 'http://landslides.usgs.gov/', 'http://landslides.usgs.gov/', :target=>'_blank'

    %li  
      Tidal Surge:
      %ul  
        %li 
          =link_to 'http://www.env.gov.bc.ca/cas/adaptation/storm_surges.html', 'http://www.env.gov.bc.ca/cas/adaptation/storm_surges.html', :target=>'_blank'
        %li 
          =link_to 'http://www.nhc.noaa.gov/surge/', 'http://www.nhc.noaa.gov/surge/', :target=>'_blank'

    %li  
      Waterspout :
      %ul  
        %li 
          =link_to 'http://oceanservice.noaa.gov/facts/waterspout.html', 'http://oceanservice.noaa.gov/facts/waterspout.html', :target=>'_blank'

    %li  
      Dust/Sand Storm :
      %ul  
        %li 
          =link_to 'http://www.emergencyportal.ca/sandstormsduststorms.htm', 'http://www.emergencyportal.ca/sandstormsduststorms.htm', :target=>'_blank'
        %li 
          =link_to 'http://www.wmo.int/pages/prog/arep/wwrp/new/Sand_and_Dust_Storm.html', 'http://www.wmo.int/pages/prog/arep/wwrp/new/Sand_and_Dust_Storm.html', :target=>'_blank'

    
%br
.big
  Further information can be found by doing an Internet search, consulting your local or regional government, consulting experts, or reading available material.

= render 'backhome'
