= provide(:title, 'References')

.page-header
  %h1
    References

.big
  This is the references page in the HRVA application.
  This is the references page in the HRVA application.


= render 'backhome'
