= provide(:title, 'Thank You')

.page-header
  %h2
    Assessment Region: 
    = current_user.city

.hero-unit
  %center
    %h2
      Thank you for your time! 
    %br
      .big
        Please return soon to complete this HRVA.

  
%p
%br


= render 'backhome'
