= provide(:title, 'Start Analysis')

.page-header
  %h1
    Instructions

.big
  While conducting this HRVA, please take care to read all the directions and
  descriptions very carefully and give them consideration before giving you
  answer the questions.

%br
%p
.big
  This HRVA has been developed for use by disaster managers and experts who
  represent a variety of regions.  While answering the questions, please
  remember to answer them based only on how the questions apply to your area.
  Hazards, risks and vulnerabilities vary from region to region, and responding
  with only your area in mind will lead to a stronger HRVA that will be more
  useful to you.
%br

%h3
  Caution for Statistical Estimation
%p
.big
  Some questions require you to give statistical predictions. Please be aware
  that people often 
  %span.bold
    overstate 
  the odds of an event happening if they have recently experienced it and
  %span.bold
    understate 
  the odds if it has been a long time since the event occurred. Please keep
  this in mind when answering prediction questions.
%br

%h3
  Climate Change
%p
.big
  This HRVA has been designed to incorporate climate change into its analysis.
  Climate change is forecasted to have a significant impact on weather
  throughout Canada and the world. This means it will also have an impact on
  many natural disasters. It is expected that climate change will increase the
  frequency, severity, and irregularity of natural disaster events.  This is
  important information to keep in mind as you answer the questions in this
  HRVA. The purpose of an HRVA is to estimate future risks and climate change
  is expected to increase these risks in a profound way.  For more information
  on climate change and how it will affect natural disasters, please see the
  =link_to 'International Panel on Climate Change (IPCC) webpage.', 'http://www.ipcc.ch/', :target=>'_blank'
%br

%h3
  Additional Materials
%p
.big
  If you do not believe you are very familiar with some of the questions as
  they apply to your area, feel free to do research on your own using credible
  sources to gain a greater understanding of some of the issues.  The Internet
  can be very helpful in this way or you can refer to the information on our
  =link_to 'references', references_path
  page.  When doing research please keep in mind you will be answering
  questions on your region only.
%br

%h3
  Time Requirements
%p
.big
  The estimated time required to complete this HRVA is upwards of one hour.
  Knowing that some people may find it difficult to find this much
  uninterrupted time, this HRVA has been designed so that your progress can be
  saved so that it can be resumed at a later time. To do this, simply press the
  %span.label.label-inverse Save and Exit
  button on the page you are at. The next time you log in you
  will be taken back to that page.

%br
%p
.center
  =link_to 'Start the Analysis', user_questionnaires_path, :method=>:post, :class=>'btn btn-large btn-primary'

= render 'backhome'
