= provide(:title, 'Start Assessment')

.page-header
  %h1
    Instructions

.big
  While conducting this HRVA, please take care to read all the directions and
  descriptions very carefully and give them consideration before giving you
  answer the questions.

%br
%p
.big
  This HRVA has been developed for use by disaster managers and experts who
  represent a variety of regions.  While answering the questions, please
  remember to answer them based only on how the questions apply to your area.
  Hazards, risks and vulnerabilities vary from region to region, and responding
  with only your area in mind will lead to a stronger HRVA that will be more
  useful to you.

%br
%p
.big
  Some questions require you to give statistical predictions. Please be aware
  that people often 
  %span.bold
    overstate 
  the odds of an event happening if they have recently experienced it and
  %span.bold
    understate 
  the odds if it has been a long time since the event occurred. Please keep
  this in mind when answering prediction questions.

%br
%p
.big
  If you do not believe you are very familiar with some of the questions as
  they apply to your area, feel free to do research on your own using credible
  sources to gain a greater understanding of some of the issues.  The Internet
  can be very helpful in this way or you can refer to the information on our
  =link_to 'references', references_path
  page.  When doing research please keep in mind you will be answering
  questions on your region only.

%br
%p
.big
  The estimated time required to complete this HRVA is upwards of one hour.
  Knowing that some people may find it difficult to find this much
  uninterrupted time, this HRVA has been designed so that your progress can be
  saved so that it can be resumed at a later time. To do this, simply press the
  =link_to 'Save and Exit', '#', :class=>'btn btn-mini btn-primary'
  button on the page you are at. The next time you log in you
  will be taken back to that page.

%br
%p
.center
  =button_to 'Start the Assessment', '#', :class=>'btn btn-large btn-primary'
