= provide(:title, 'Start Assessment')

.page-header
  %h1
    Start the Assessment

.big
  This is the contact information page in the sample application.
  This is the contact information page in the sample application.
  This is the contact information page in the sample application.
  This is the contact information page in the sample application.
  This is the contact information page in the sample application.
