= provide(:title, 'Thank You')

.page-header
  %h2
    Analysis Region: 
    = current_user.city

.hero-unit
  %center
    %h2
      Thank you for completing this HRVA! 
    %p
    %br
      .big
        Click the button below to view your analysis results.
    %p
      =button_to 'Generate Report', '#', :class=>'btn btn-large btn-primary'


%p
.big
  Please note this analysis is only the first step in preparing your
  area for hazards. Please check 
  =link_to 'here', references_path
  for information on how to proceed.
  
%p
%br


= render 'backhome'
