= provide(:title, 'View Assessment Results')

.page-header
  %h1
    Assessment Results Reporting

.big
  This is the reporting page in the HRVA application.
  This is the reporting page in the HRVA application.
  This is the reporting page in the HRVA application.
  This is the reporting page in the HRVA application.
  This is the reporting page in the HRVA application.


= render 'backhome'

