-text ||= nil
=f.input :current_password, :required => true
=f.input :username
=f.input :first_name
=f.input :last_name
=f.input :email
=f.input :city
=f.input :province
=f.input :country, :priority => ['Canada']
=f.input :address, :input_html => {:rows => 4}
=f.input :organization
=f.input :current_role
-if current_user.try(:admin?) && controller.is_a?(AdminController)
  =f.input :admin
  =f.input :active  
%h5  
  leave blank if you don't want to change your current password
%br
%br
=f.input :password, :as => :password
=f.input :password_confirmation, :as => :password  
= f.submit  (text || 'Update your profile'), :class => 'btn btn-primary'



