= provide(:title, 'Admin') 

.page-header
  %h1
    Admin
    %small
      Manage the website
  
.big
  %ul
    %li
      =link_to 'User Accounts', admin_users_path
    %p
    %li
      =link_to 'Sections Listing with Associated Questions', admin_sections_path
    %p
    %li
      =link_to 'Regions Represented by Users', admin_regions_path
