=# f.input :response_id, :as=>'radio'

%table{:cellpadding=>'10'}
  - @question.responses.each do |r|
    %tr
      %td{:valign=>'center'}
        = f.check_box :response_id, {}, "#{r.value}", 0
        &nbsp;
        = "#{r.label}"


