
%p
%br
.left
  =button_to 'Previous', '#', :class=>'btn btn-primary'
.right
  =button_to 'Next', '#', :class=>'btn btn-primary'

%p
%br
%br
%br
.right
  =button_to 'Save and Exit', '#', :class=>'btn btn-inverse'
