
%p
%br
.left
  - if @answer.prev
    =link_to 'Previous', edit_user_questionnaire_answer_path(@questionnaire, @answer.prev), :method=>:get, :class=>'btn btn-primary'
.right
  =link_to_function 'Next', "$('#new_answer').submit()", :class=>'btn btn-primary'

%p
%br
%br
%br
.right
  =button_to 'Save and Exit', '#', :class=>'btn btn-inverse'
