= provide(:title, 'Assessment')

.page-header
  %h2
    Assessment Region: 
    = current_user.city

.big
  %ul.nav.nav-tabs
    %li.active
      =link_to 'Area Profile', '#'
    %li
      =link_to 'Hazards', '#'
    %li 
      =link_to 'Preparedness', '#'
    %li 
      =link_to 'Accidental and Human Caused Hazards', '#'
    %li 
      =link_to 'Compounded Risks and Hazards', '#'

%p

.right
  %table
    %tr
      %td{:valign=>'top'}
        Number of questions completed: XX
      %td{:valign=>'top'}
        &nbsp; 
      %td{:valign=>'top'}
        .span2
          .progress.progress-info.progress-striped
            .bar{ :style=>"width: 75%" }

%br
%p
%br
