= provide(:title, 'Assessment')

.page-header
  %h2
    Assessment Region: 
    = current_user.city

.big
  %ul.nav.nav-tabs
    %li.active
      - str = 'Area Profile'
      - sec = Section.all.select{|s| s.title == str }
      =link_to str, '#'
    %li
      - str = 'Natural Hazards'
      =link_to str, '#'
    %li 
      - str = 'Preparedness'
      =link_to str, '#'
    %li 
      - str = 'Accidental and Human Caused Hazards'
      =link_to str, '#'
    %li 
      - str = 'Compounded Risks and Hazards'
      =link_to str, '#'

%p

.right
  %table
    %tr
      %td{:valign=>'top'}
        Number of questions completed: XX
      %td{:valign=>'top'}
        &nbsp; 
      %td{:valign=>'top'}
        .span2
          .progress.progress-info.progress-striped
            .bar{ :style=>"width: 75%" }

%br
%p
%br
