%table{:cellpadding=>'10'}
  - @question.responses.each do |r|
    %tr
      %td{:valign=>'center'}
        = f.radio_button :response_id, r.id #:response_value, "#{r.value}"
        &nbsp;
        = "#{r.label}"

