<footer class="footer">
<hr>
  <center>
  <small>
    &copy Client Organization 2012
    -
    Developed by 
    <a href="http://beyondthecube.ca/">beyondthecube.ca</a>
  </small>
  </center>
</footer>
